[submodule "lib/credible-layer-contracts"]
	path = lib/credible-layer-contracts
	url = git@github.com:phylaxsystems/credible-layer-contracts.git
[submodule "lib/credible-layer-dapp"]
	path = lib/credible-layer-dapp
	url = git@github.com:phylaxsystems/credible-layer-dapp.git
